code.highlighter-rouge {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

div.highlight {
  font-size: 14px;
  line-height: 20px;
  color: #303F9F;
  page-break-inside: avoid;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
  overflow-x: auto;
  font-size: 80%;
  padding: 8px 8px 8px 0px;
  border-radius: 2px;
  border-width: 1px;
  margin: 8px;
  box-sizing: border-box;
  padding-left: 8px;
}

/***
.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #586E75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586E75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #555 } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
***/

.highlight .hll { background-color: #ffffcc }
.highlight { background: #f8f8f8; }
.highlight span.c { color: #408080; font-style: italic } /* Comment */
.highlight span.err { border: 1px solid #FF0000 } /* Error */
.highlight span.k { color: #008000; font-weight: bold } /* Keyword */
.highlight span.o { color: #666666 } /* Operator */
.highlight span.ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight span.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight span.cp { color: #BC7A00 } /* Comment.Preproc */
.highlight span.cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight span.c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight span.cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight span.gd { color: #A00000 } /* Generic.Deleted */
.highlight span.ge { font-style: italic } /* Generic.Emph */
.highlight span.gr { color: #FF0000 } /* Generic.Error */
.highlight span.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight span.gi { color: #00A000 } /* Generic.Inserted */
.highlight span.go { color: #888888 } /* Generic.Output */
.highlight span.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight span.gs { font-weight: bold } /* Generic.Strong */
.highlight span.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight span.gt { color: #0044DD } /* Generic.Traceback */
.highlight span.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight span.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight span.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight span.kp { color: #008000 } /* Keyword.Pseudo */
.highlight span.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight span.kt { color: #B00040 } /* Keyword.Type */
.highlight span.m { color: #666666 } /* Literal.Number */
.highlight span.s { color: #BA2121 } /* Literal.String */
.highlight span.na { color: #7D9029 } /* Name.Attribute */
.highlight span.nb { color: #008000 } /* Name.Builtin */
.highlight span.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight span.no { color: #880000 } /* Name.Constant */
.highlight span.nd { color: #AA22FF } /* Name.Decorator */
.highlight span.ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight span.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight span.nf { color: #0000FF } /* Name.Function */
.highlight span.nl { color: #A0A000 } /* Name.Label */
.highlight span.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight span.nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight span.nv { color: #19177C } /* Name.Variable */
.highlight span.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight span.w { color: #bbbbbb } /* Text.Whitespace */
.highlight span.mb { color: #666666 } /* Literal.Number.Bin */
.highlight span.mf { color: #666666 } /* Literal.Number.Float */
.highlight span.mh { color: #666666 } /* Literal.Number.Hex */
.highlight span.mi { color: #666666 } /* Literal.Number.Integer */
.highlight span.mo { color: #666666 } /* Literal.Number.Oct */
.highlight span.sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight span.sc { color: #BA2121 } /* Literal.String.Char */
.highlight span.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight span.s2 { color: #BA2121 } /* Literal.String.Double */
.highlight span.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight span.sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight span.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight span.sx { color: #008000 } /* Literal.String.Other */
.highlight span.sr { color: #BB6688 } /* Literal.String.Regex */
.highlight span.s1 { color: #BA2121 } /* Literal.String.Single */
.highlight span.ss { color: #19177C } /* Literal.String.Symbol */
.highlight span.bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight span.vc { color: #19177C } /* Name.Variable.Class */
.highlight span.vg { color: #19177C } /* Name.Variable.Global */
.highlight span.vi { color: #19177C } /* Name.Variable.Instance */
.highlight span.il { color: #666666 } /* Literal.Number.Integer.Long */
